Lab | Customer Analysis Round 7
For this lab, we still keep using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder.

Remember the previous rounds. Follow the steps as shown in previous lectures and try to improve the accuracy of the model. Include both categorical columns in the exercise. Some approaches you can try in this exercise:

use the concept of multicollinearity and remove insignificant variables
use a different method of scaling the numerical variables
use a different ratio of train test split
use the transformation on numerical columns which align it more towards a normal distribution

In [4]:
import pandas as pd
import warnings
warnings.simplefilter('ignore')
data=pd.read_csv('marketing_customer_analysis.csv')

In [5]:
data.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,10.0,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,NaN,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [6]:
# clean
data.columns=[e.lower().replace(' ', '_') for e in data.columns]
data=data.dropna()
data['effective_to_date']=pd.to_datetime(data['effective_to_date'], errors='coerce')

# select data
X=data.drop(columns=['customer', 'effective_to_date', 'total_claim_amount'], axis=1)
y=data.total_claim_amount

# num-cat split
X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)

# numeric normalization
from sklearn.preprocessing import StandardScaler

for c in X_num.columns:
    X_num[c]=StandardScaler().fit_transform(X_num[[c]])

X_num.head()

# cat, one hot encoding
X_cat=pd.get_dummies(X_cat, drop_first=True)

# concat numerical and categorical transformations
X=pd.concat([X_num, X_cat], axis=1)

In [7]:
# train-test-split
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)

In [8]:
print(model.summary())

NameError: name 'model' is not defined