### Lab 5| Customer Analysis Round 
Processing Data
(Further processing...)

X-y split.
Normalize (numerical).

In [83]:
#X-y split.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd                                       
from sklearn.linear_model import LinearRegression as linreg
from sklearn import metrics
%matplotlib inline

In [60]:
dfm = pd.read_csv('marketing_customer_analysis.csv')
dfm

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [61]:
dfm.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [62]:
dfm.columns=[e.lower().replace(' ', '_') for e in dfm.columns]  
dfm.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [63]:
dfm.isna().sum()
round(dfm.isna().sum()/len(dfm),4)*100  
dfm=dfm.drop(columns=['vehicle_size','unnamed:_0', 'customer'])  
dfm=dfm.dropna()   
dfm.isna().sum()

dfm['effective_to_date'] = pd.to_datetime(dfm['effective_to_date'], errors='coerce')
dfm['effective_to_date'].dtype
dfm.head()

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_type
2,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,A
3,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,A
10,Arizona,5154.764074,No,Extended,High School or Below,2011-01-02,Employed,M,82730,Urban,...,31,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,A
13,California,5454.587929,No,Basic,Master,2011-01-26,Employed,M,66334,Suburban,...,25,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,A
16,California,5326.677654,No,Basic,High School or Below,2011-02-07,Employed,F,76717,Urban,...,10,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,A

In [68]:
dfm_numerical= dfm.select_dtypes(exclude=["object"])
dfm_numerical

,customer_lifetime_value,effective_to_date,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
2,14947.917300,2011-02-10,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,2011-01-11,49078,97,10.0,3,0.0,2,484.013411
10,5154.764074,2011-01-02,82730,127,13.0,31,0.0,1,442.521087
13,5454.587929,2011-01-26,66334,69,25.0,25,0.0,4,331.200000
16,5326.677654,2011-02-07,76717,66,26.0,10,0.0,6,300.528579
...,...,...,...,...,...,...,...,...,...
10902,3579.023825,2011-01-24,28304,91,10.0,30,2.0,1,655.200000
10903,2771.663013,2011-01-07,59855,74,30.0,82,4.0,1,355.200000
10904,19228.463620,2011-02-24,0,187,14.0,32,0.0,2,897.600000
10906,5259.444853,2011-01-06,61146,65,7.0,68,0.0,6,273.018929
10908,11971.977650,2011-02-13,64195,158,0.0,27,4.0,6,618.288849

In [65]:
dfm_numerical.isnull().sum()

customer_lifetime_value          0
effective_to_date                0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
total_claim_amount               0
dtype: int64

In [66]:
dfm.describe(include='all')

C:\Users\danie\AppData\Local\Temp\ipykernel_11972\2427965084.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  dfm.describe(include='all')

,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_type
count,4543,4543.000000,4543,4543,4543,4543,4543,4543,4543.000000,4543,...,4543.000000,4543.000000,4543.000000,4543,4543,4543,4543,4543.000000,4543,4543
unique,5,NaN,2,3,5,59,5,2,NaN,3,...,NaN,NaN,NaN,3,9,4,4,NaN,6,1
top,California,NaN,No,Basic,Bachelor,2011-01-10 00:00:00,Employed,F,NaN,Suburban,...,NaN,NaN,NaN,Personal Auto,Personal L3,Offer1,Agent,NaN,Four-Door Car,A
freq,1552,NaN,3902,2759,1374,105,2831,2326,NaN,2844,...,NaN,NaN,NaN,3390,1730,1849,1751,NaN,2277,4543
first,NaN,NaN,NaN,NaN,NaN,2011-01-01 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2011-02-28 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,8033.714059,NaN,NaN,NaN,NaN,NaN,NaN,37453.033238,NaN,...,48.153863,0.386309,2.980189,NaN,NaN,NaN,NaN,436.477525,NaN,NaN
std,NaN,6959.529443,NaN,NaN,NaN,NaN,NaN,NaN,30257.399536,NaN,...,28.146904,0.907553,2.390362,NaN,NaN,NaN,NaN,295.026990,NaN,NaN
min,NaN,1904.000852,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,0.099007,NaN,NaN
25%,NaN,4039.089902,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,24.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,265.686145,NaN,NaN
50%,NaN,5846.520588,NaN,NaN,NaN,NaN,NaN,NaN,34455.000000,NaN,...,47.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,384.000000,NaN,NaN
75%,NaN,8936.596938,NaN,NaN,NaN,NaN,NaN,NaN,61560.000000,NaN,...,72.000000,0.000000,4.000000,NaN,NaN,NaN,NaN,552.000000,NaN,NaN
max,NaN,83325.381190,NaN,NaN,NaN,NaN,NaN,NaN,99961.000000,NaN,...,99.000000,5.000000,9.000000,NaN,NaN,NaN,NaN,2893.239678,NaN,NaN

In [69]:
#X-y split.

X=dfm_numerical.drop('total_claim_amount', axis=1)
y=dfm_numerical.total_claim_amount

X=X.drop(columns=['effective_to_date'])
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
2,14947.917300,22139,100,34.0,31,0.0,2
3,22332.439460,49078,97,10.0,3,0.0,2
10,5154.764074,82730,127,13.0,31,0.0,1
13,5454.587929,66334,69,25.0,25,0.0,4
16,5326.677654,76717,66,26.0,10,0.0,6
...,...,...,...,...,...,...,...
10902,3579.023825,28304,91,10.0,30,2.0,1
10903,2771.663013,59855,74,30.0,82,4.0,1
10904,19228.463620,0,187,14.0,32,0.0,2
10906,5259.444853,61146,65,7.0,68,0.0,6
10908,11971.977650,64195,158,0.0,27,4.0,6

In [70]:
#Normalize (numerical).

X_num=X._get_numeric_data()
X_cat=X.drop(columns=X_num.columns)

print (X.shape, X_num.shape, X_cat.shape)  # check shape

(4543, 7) (4543, 7) (4543, 0)

In [71]:
X_num.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
count,4543.000000,4543.000000,4543.000000,4543.000000,4543.000000,4543.000000,4543.000000
mean,8033.714059,37453.033238,93.773278,15.111820,48.153863,0.386309,2.980189
std,6959.529443,30257.399536,35.093661,10.157925,28.146904,0.907553,2.390362
min,1904.000852,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000
25%,4039.089902,0.000000,69.000000,6.000000,24.000000,0.000000,1.000000
50%,5846.520588,34455.000000,83.000000,14.000000,47.000000,0.000000,2.000000
75%,8936.596938,61560.000000,110.000000,23.000000,72.000000,0.000000,4.000000
max,83325.381190,99961.000000,298.000000,35.000000,99.000000,5.000000,9.000000

In [72]:
#Normalizacion estandar 

#En la función normalize(X) se realiza la normalización estandar de la variable X, donde:

#X.mean(axis=0) calcula la media de cada columna de X.
#X.std(axis=0) calcula la desviación estándar de cada columna de X.
#X_std[X_std==0]=1.0 se utiliza para manejar el caso donde una columna tiene una desviación estándar igual a cero, lo que provocaría una división por cero. Esta línea de código establece esos valores en 1.
#(X-X_mean)/X_std realiza la normalización estándar propiamente dicha, restando la media de cada columna y dividiendo por su desviación estándar.
#Finalmente, la variable X_num se actualiza con los valores normalizados y se devuelve como resultado de la función.

X_scaled=StandardScaler().fit_transform(X_num)

def normalize(X):
    X_mean=X.mean(axis=0)
    X_std=X.std(axis=0)
    X_std[X_std==0]=1.0
    X=(X-X_mean)/X_std
    return X

X_num=normalize(X_num)
X_num.head()

In [73]:
(X_num-X_scaled).sum().sum()

207375014.968163

###  Lab 6

#One Hot/Label Encoding (categorical).
#Concat DataFrames


#Linear Regression
#Train-test split.
#Apply linear regression.

#Model Validation
#Description:
#R2.
#MSE.
#RMSE.
#MAE.

In [74]:
#One Hot/Label Encoding (categorical).
# One Hot/Label Encoding (categorical).
# get dummies pandas

from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop='first').fit(X_cat)
encoder=encoder.transform(X_cat).toarray()
encoder

array([], shape=(4543, 0), dtype=float64)

In [77]:
#concat dataframes
X=np.concatenate((X_scaled,encoder),axis=1)
X

array([[ 0.99359654, -0.50618094,  0.17745107, ..., -0.60950757,
        -0.42570647, -0.41010408],
       [ 2.05477964,  0.38424473,  0.09195614, ..., -1.60439787,
        -0.42570647, -0.41010408],
       [-0.41371574,  1.49655791,  0.94690548, ..., -0.60950757,
        -0.42570647, -0.82849682],
       ...,
       [ 1.60872685, -1.23795027,  2.65680415, ..., -0.57397577,
        -0.42570647, -0.41010408],
       [-0.39867273,  0.78313322, -0.81998982, ...,  0.7051689 ,
        -0.42570647,  1.26346686],
       [ 0.56594302,  0.88391305,  1.83035312, ..., -0.75163476,
         3.98223539,  1.26346686]])

In [ ]:
#Linear Regression
#Train-test split.

In [79]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test=tts(X, y, test_size=.2)
len(X_train)

3634

In [80]:
len(X_test)

909

In [81]:
len(X)

4543

In [68]:
#Apply linear regression.

In [23]:
from sklearn.linear_model import LinearRegression as linreg

In [84]:
model=linreg()
model.fit(X_train, y_train)

LinearRegression()

In [85]:
y_pred=model.predict(X_test)

In [ ]:
#Model Validation 
#R2

In [86]:
r_sq = model.score(X_test, y_test) # model prediction
r_sq

0.5434495245912789

In [87]:
r_sq = model.score(X_train, y_train) # model prediction
r_sq

0.516378827279093

In [88]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [89]:
model=sm.OLS(y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:     total_claim_amount   R-squared (uncentered):                   0.164
Model:                            OLS   Adj. R-squared (uncentered):              0.162
Method:                 Least Squares   F-statistic:                              126.9
Date:                Sun, 30 Apr 2023   Prob (F-statistic):                   5.60e-171
Time:                        12:03:13   Log-Likelihood:                         -34510.
No. Observations:                4543   AIC:                                  6.903e+04
Df Residuals:                    4536   BIC:                                  6.908e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -9.1564      7.872     -1.163      0.245     -24.589       6.277
x2          -103.2456      7.156    -14.427      0.000    -117.275     -89.216
x3           189.3426      7.867     24.069      0.000     173.920     204.765
x4            -4.4972      7.162     -0.628      0.530     -18.538       9.544
x5            -3.3547      7.163     -0.468      0.640     -17.397      10.688
x6            -0.8189      7.159     -0.114      0.909     -14.854      13.216
x7             4.4526      7.160      0.622      0.534      -9.585      18.490
==============================================================================
Omnibus:                      485.998   Durbin-Watson:                   0.364
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3031.452
Skew:                           0.307   Prob(JB):                         0.00
Kurtosis:                       6.954   Cond. No.                         1.56
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#MSE

In [90]:
from sklearn.metrics import mean_squared_error as mse
MSE = mse(y_test,y_pred)
#MSE
#MSE = np.square(np.subtract(y_test,y_pred)).mean()
MSE

41489.52681685849

In [91]:
#RMSE
import math
RMSE = math.sqrt(MSE)
RMSE

203.68978083560916

In [92]:
#MAE
from sklearn.metrics import mean_absolute_error as mae
error = mae(y_test, y_pred)
error

149.66578272810412